.m0{margin:$s0}
.m1{margin:$s1}
.m2{margin:$s2}
.m3{margin:$s3}
.m4{margin:$s4}
.ma{margin:auto}

.mt0{margin-top:$s0}
.mt1{margin-top:$s1}
.mt2{margin-top:$s2}
.mt3{margin-top:$s3}
.mt4{margin-top:$s4}

.mr0{margin-right:$s0}
.mr1{margin-right:$s1}
.mr2{margin-right:$s2}
.mr3{margin-right:$s3}
.mr4{margin-right:$s4}

.mb0{margin-bottom:$s0}
.mb1{margin-bottom:$s1}
.mb2{margin-bottom:$s2}
.mb3{margin-bottom:$s3}
.mb4{margin-bottom:$s4}

.ml0{margin-left:$s0}
.ml1{margin-left:$s1}
.ml2{margin-left:$s2}
.ml3{margin-left:$s3}
.ml4{margin-left:$s4}

.mx0{margin-left:$s0;margin-right:$s0}
.mx1{margin-left:$s1;margin-right:$s1}
.mx2{margin-left:$s2;margin-right:$s2}
.mx3{margin-left:$s3;margin-right:$s3}
.mx4{margin-left:$s4;margin-right:$s4}
.mya{margin-left:auto;margin-right:auto;}

.my0{margin-top:$s0;margin-bottom:$s0}
.my1{margin-top:$s1;margin-bottom:$s1}
.my2{margin-top:$s2;margin-bottom:$s2}
.my3{margin-top:$s3;margin-bottom:$s3}
.my4{margin-top:$s4;margin-bottom:$s4}
.mya{margin-top:auto;margin-bottom:auto;}
