.p0{padding:$s0}
.p1{padding:$s1}
.p2{padding:$s2}
.p3{padding:$s3}
.p4{padding:$s4}

.pt0{padding-top:$s0}
.pt1{padding-top:$s1}
.pt2{padding-top:$s2}
.pt3{padding-top:$s3}
.pt4{padding-top:$s4}

.pr0{padding-right:$s0}
.pr1{padding-right:$s1}
.pr2{padding-right:$s2}
.pr3{padding-right:$s3}
.pr4{padding-right:$s4}

.pb0{padding-bottom:$s0}
.pb1{padding-bottom:$s1}
.pb2{padding-bottom:$s2}
.pb3{padding-bottom:$s3}
.pb4{padding-bottom:$s4}

.pl0{padding-left:$s0}
.pl1{padding-left:$s1}
.pl2{padding-left:$s2}
.pl3{padding-left:$s3}
.pl4{padding-left:$s4}

.px0{padding-left: $s0;padding-right:$s0}
.px1{padding-left: $s1;padding-right:$s1}
.px2{padding-left: $s2;padding-right:$s2}
.px3{padding-left: $s3;padding-right:$s3}
.px4{padding-left: $s4;padding-right:$s4}

.py0{padding-top: $s0;padding-bottom:$s0}
.py1{padding-top: $s1;padding-bottom:$s1}
.py2{padding-top: $s2;padding-bottom:$s2}
.py3{padding-top: $s3;padding-bottom:$s3}
.py4{padding-top: $s4;padding-bottom:$s4}
